<html>
    <body>
        <h1>Messages for <%= name %></h1>
        <ul>
            <% messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </body>
</html>


<%# same as %>
puts name 

<%# messages.each do |message|
    puts message
end %>

